html {
    scroll-behavior: smooth;
}

#contact_modal {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 64px;
    margin: 0;
}

.photograph-header .localisation {
    color: #901C1C;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
}

.photograph-header .description {
    color: #525252;
    font-size: 18px;
    margin: 0;
    
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 5% auto;
    position: relative;
    animation-name: modalopen;
    animation-duration: 0.8s;
}

@keyframes modalopen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
    }
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 60px;
    font-weight: normal;
    color: black;
}

form {
    margin-top: 15px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

form textarea {
    resize: none;
    border: none;
    width: 100%;
    height: 170px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
}

.text-error {
    font-size: 18px;
}

/* ---------------------------------------------- */

.div-sort {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 18px;
}

.btn {
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 133px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    margin-left: 74px;
    position: absolute;
    width: 133px;
    border-radius: 5px;
    margin-top: 0.3rem;
    background: #901C1C;
    visibility: hidden;
    opacity: 0;
    transform: translateY(0.5rem);
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
    z-index: 1;
    cursor: pointer;
}

.dropdown a {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.dropdown a:hover {
    background-color: #791616;
    color: white;
}

.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
}

.fa-caret-down {
    margin-left: 5px;
}

.arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
}

/* -------------------------------------- */

.gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: 88px 100px 60px 100px;
}

.gallery img, .gallery video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.divTextMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 24px;
}

.divTextMedia .fa-heart {
    margin-left: 5px;
    cursor: pointer;
}

.inset-likes-amount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #DB8876;
    position: fixed;
    right: 50px;
    bottom: 0;
    width: 376px;
    height: 65px;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likes p {
    margin-right: 5px;
}

.div-carousel {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
    justify-content: center;
}

#carousel {
    position: relative;
    padding: 0;
    display: flex;
    justify-content: space-between;
    animation-name: carouselopen;
    animation-duration: 0.8s;
}

@keyframes carouselopen {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
    }
}

.carousel-item {
    list-style: none;
    display: none;
    background-color: #FAFAFACC;
    border-radius: 5px;
}

.carousel-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10px;
}

.carousel-media img, .carousel-media video {
    /* width: 1050px; */
    /* height: auto; */
    max-height: 85vh;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-media p {
    color: #901C1C;
    font-size: 24px;
}

.close-carousel {
    position: absolute;
    top: 10px;
    right: 20px;
}

.controls {
    align-self: center;
    margin: 0 20px;
}

.fa-angle-left, .fa-angle-right, .fa-xmark {
    color: #901C1C;
    cursor: pointer;
}
